<main>
    <img src="/images/iniciosesion.jpg" alt="" width="45%">
    <div id="descripcion-registro">
      <h1>Inicia Sesión</h1>
      <div id="campos-div">
  
        <div class="campo">
          <label for="txtCorreo">Correo:</label>
          <input type="text" id="txtCorreo" [(ngModel)]="correo" placeholder="Correo">
        </div>
  
        <div class="campo">
          <label for="contrasena1">Contraseña:</label>
          <input type="password" id="contrasena1" [(ngModel)]="pwrd" placeholder="Contraseña">
        </div>
  
        <button id="registro-button" (click)="iniciosesion()">
          <span class="button-content">Iniciar Sesión</span>
        </button>
      </div>
      <div id="yacuenta">
        <p>Aún no tienes cuenta? &nbsp;&nbsp;<a (click)="navegarARegistro()">Regístrate aquí</a></p>
      </div>
    </div>
  </main>
  