.pedido-descripcion
{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(6,1fr); /* Dos filas de altura automática */

    gap: 15px;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid rgb(188, 186, 186) ;
    padding-top: 10px;
}

#circulo-imagen {
    width: 40px;
    height: 40px;
    overflow: hidden; /* Oculta el contenido que sobrepasa el tamaño del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  #circulo-imagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
  }

  .text-wrap {
    white-space: pre-wrap; /* Preserva los saltos de línea y espacios */
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
  }