<img src="" alt="foto para subir">
<p>selecciona los tags del producto</p>
<label for="txtNombreProducto">Nombre del producto</label>
<input type="text" id="txtNombreProducto" placeholder="nombre del producto">

<label for="txtDescripcion">Descripcion</label>
<input type="text" placeholder="Descripcion">

<label for="txtDescripcion">Promocion</label>
<p>dejarlo en cero si no hay descuento</p>
<input type="text" placeholder="Promocion">
<label for="txtDescripcion">codigo del producto</label>
<input type="text" placeholder="codigo del producto">
<label for="txtDescripcion">Precio</label>
<input type="text" placeholder="precio del producto">
<p>Escoge lo que aplique para tu producto</p>
  <!-- Casilla de verificación "Talla Única" o "Varias Tallas" -->
<div class="campo">
    <p>tu producto maneja: </p>
    <div>
      <label>
        <input type="radio" name="Talla"  id="chkTallaUnica"> Talla Única
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="Talla"  id="chkVariasTallas"> Varias Tallas
      </label>
    </div>
</div>
<div class="campo">
    <label>tu producto maneja colores:</label>
    <div>
        <label>
            <input type="radio" name="colores" value="Sí"> Sí
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="colores" value="No"> No
        </label>
    </div>
</div>

<div class="campo">
    <p>Tu producto maneja otras variantes, como tipologias y TODAS al mismo precio</p>
    <div>
    <label>
        <input type="radio" name="variantes" value="Sí"> Sí
    </label>
    </div>
    <div>
    <label>
        <input type="radio" name="variantes" value="No"> No
    </label>
    </div>
</div>