<header>
  <app-up-bar></app-up-bar>
</header>
<main>
  <app-navigation-bar></app-navigation-bar>

  <div id="info-producto">
    <img src="" alt="foto para subir">
    <p>selecciona los tags del producto</p>
    <label for="txtNombreProducto">Nombre del producto</label>
    <input type="text" id="txtNombreProducto" placeholder="nombre del producto">
  
    <label for="txtDescripcion">Descripcion</label>
    <input type="text" placeholder="Descripcion">
  
    <label for="txtDescripcion">Promocion</label>
    <p>dejarlo en cero si no hay descuento</p>
    <input type="text" placeholder="Promocion">
    <label for="txtDescripcion">codigo del producto</label>
    <input type="text" placeholder="codigo del producto">
    <label for="txtDescripcion">Precio</label>
    <input type="text" placeholder="precio del producto">
    <p>Escoge lo que aplique para tu producto y sus variantes</p>
  
    <div class="contenedor">
      <div class="titulos">
        <h3>Nombre</h3>
        <h3>ID producto</h3>
        <h3>Color</h3>
        <h3>Talla</h3>
        <h3>Cantidad</h3>
        <h3>Foto</h3>
      </div>
  
      <div class="productos">
        <div *ngFor="let producto of productos; let i = index">
          <app-nuevo-producto-descripcion (onEliminar)="eliminarProducto(i)"></app-nuevo-producto-descripcion>
        </div>
      </div>
      
      <button (click)="anadirProducto()">Añadir variante</button>
    </div>
  </div>  
</main>
