<header>
    <app-up-bar></app-up-bar>
  </header>
<main>
  <app-navigation-bar></app-navigation-bar>
  <div id="gestion-div">
    <h2>mapa del evento</h2>
    <p>Aqui se situara tu emprendimiento</p>
    <div id="mapa" style="position: relative; width: 680px;">
      <!-- Imagen del mapa -->
      <img src="/images/mapa.jpeg" alt="Mapa" style="width: 100%;">
      
      <!-- Imagen del logo superpuesta -->
      <img src="/images/logo-empresa.png" alt="Logo Empresa" style="position: absolute; top: 200px; left: 200px; width: 40px;" class="logo-superpuesto">
    </div>
    <div>
      <h2>Seleccionar o editar productos incluidos en el evento</h2>
      <button (click)="guardar()" id="anadir-button">Guardar</button>
    <div class="productos">
        <div *ngFor="let producto of productos_ordenados(); let i = index">
            <app-row-gestion-productos-bazar
                [producto]="producto">
            </app-row-gestion-productos-bazar>
        </div>
    </div>
      
    </div>

  </div>
</main>
