<div class="producto-descripcion">
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="ID">
  
    <select id="color-list">
      <option value="no-aplica">no aplica</option>
      <option value="azul">azul</option>
      <option value="verde">verde</option>
      <option value="rojo">rojo</option>
      <option value="negro">negro</option>
      <option value="blanco">blanco</option>
      <option value="transparente">transparente</option>
      <option value="morado">morado</option>
      <option value="rosado">rosado</option>
      <option value="morado">morado</option>
      <option value="amarillo">amarillo</option>
      <option value="naranja">naranja</option>
  </select>
  
  <select id="talla-list">
      <option value="no-aplica">no aplica</option>
      <option value="unica">talla unica</option>
      <option value="xxs">XXS</option>
      <option value="xs">XS</option>
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="L">L</option>
      <option value="xL">XL</option>
      <option value="xL">XXL</option>
  </select>
  
  <input type="text" placeholder="Cantidad">

  <img src="" alt="foto de la variacion">
  
  <button (click)="eliminar()">Eliminar</button>
</div>
  