<header>
    <img src="/images/logo.png" alt="" width="50px">
    <a  (click)="navegarAInicioDeSesion()" id="iniciarsesion-button" class="button-enter" style="cursor: pointer;">
        iniciar sesión
    </a>
    <a (click)="navegarARegistro()" id="registrarse-button" class="button-enter" style="cursor: pointer;">
        Registrarse
    </a>  
    <a  (click)="ecommerce()" id="ecommerce-button" class="button-enter" style="cursor: pointer;">
        ir al comercio
    </a>  
</header>
<main>
    <div class="image-container">
        <img src="/images/foto-landing.jpg" alt="" width="80%">
    </div>
    
    <h1>comprar</h1>
    <div id="productos-div">
        <div class="producto-div">
            <img src="/images/ropa.jpg" alt="" width="80%">
            <div>
                <h2>
                    Ropa
                </h2>
                <p>Disfruta de la mejor ropa de emprendedores colombianos en Latin Drip</p>
            </div>
        </div>
        <div class="producto-div">
            <img src="/images/accesorios.jpg" alt="" width="80%">
            <div>
                <h2>
                    Accesorios
                </h2>
                <p>Disfruta de los mejores accesorios de emprendedores colombianos en Latin Drip</p>
            </div>
        </div>
        <div class="producto-div">
            <img src="/images/ropa.jpg" alt="" width="80%">
            <div>
                <h2>
                    Bazares virtuales
                </h2>
                <p>Explora nuestros bazares virtuales y descubre nuevas marcas colombianas de una manera diferente</p>
            </div>
        </div>
    </div>
    <h1>Vender</h1>
    <div class="promocion-div">
        <img src="/images/emprendedor1.jpg" alt="" width="100%">
        <div>
           <h2>Unete a nuestra red de emprendedores</h2>
            <p>BHBHBHB</p> 
        </div>
    </div>
    <div class="promocion-div">
        <div>
            <h2>Impulsa tu negocio con LatinDrip</h2>
             <p>BHBHBHBHH</p> 
         </div>
        <img src="/images/emprendedor2.jpg" alt="" width="100%">
    </div>
</main>

<footer>
    <img src="/images/logo.png" alt="" width="50px">
</footer>