<header>
    <app-up-bar></app-up-bar>
  </header>
<main>
  <app-navigation-bar></app-navigation-bar>
    <div id="div-cuenta">
        <h1>Datos de tu emprendimiento</h1>
        <div id="seccion1">
            <div>
                <p>Pon el logo de tu empresa</p>
                <p>Con este logo todos te reconocerán</p>
                <div id="circulo-imagen" (click)="fileInput.click()" [class.disabled]="!isEditing">
                    <input type="file" #fileInput (change)="onFileChange($event)" [disabled]="!isEditing" style="display: none;">
                    <img [src]="imageSrc" alt="Imagen del producto" *ngIf="imageSrc">
                </div>
            </div>
            <div>
                <p>Pon el nombre de tu empresa</p>
                <input type="text" placeholder="nombre" [(ngModel)]="nombreEmpresa" [disabled]="!isEditing">
                <p>Pon los tags con los que reconocerán tu empresa</p>
                <ng-multiselect-dropdown
                    [placeholder]="'custom placeholder'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    [disabled]="!isEditing"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
        <p>Pon la descripción de tu empresa</p>
        <textarea id="Descripcion" placeholder="Descripción de tu empresa" [(ngModel)]="descripcionEmpresa" [disabled]="!isEditing"></textarea>
        <button (click)="toggleEdit()">{{ isEditing ? 'Guardar' : 'Editar' }}</button>
    </div>
</main>
