/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

a
{
    text-decoration: none;
}

h2, h3, h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #de600b;
}

p, a, label, select,input, button, h4{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

button{
    border-style: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1.5rem;
    margin: 10px;
    border: none; 
    color: white;
    background-color: black;
    cursor: pointer;
}