<div class="producto-descripcion">
    <h3>id</h3>
        <h3>nombre</h3>
        <h3>imagen</h3>
        <h3>talla</h3>
        <h3>color</h3>
        <h3>cantidad disponible</h3>
        <h3>cantidad para evento</h3>
        <h3>precio estandar</h3>
        <h3>precio evento</h3>
        <h3></h3>
        
    <p>{{producto.ID}}</p>
    <p>{{producto.nombre}}</p>

    <div id="circulo-imagen">
        <img [src]="producto.imagen" alt="">
    </div>

    <p>{{producto.talla}}</p>
    <p>{{producto.color}}</p>
    <p>{{producto.cantidad_real}}</p>
    <input type="text" [(ngModel)]="producto.cantidad_evento" placeholder="Cantidad evento">

    <p>{{producto.costo_real}}</p>
    <input type="text" [(ngModel)]="producto.costo_evento" placeholder="Precio evento">

    <div class="toggler">
        <input 
            id="toggler-{{producto.ID}}" 
            name="toggler-{{producto.ID}}" 
            type="checkbox" 
            [(ngModel)]="producto.incluido" 
            (change)="toggleProducto()"
        >
        <label for="toggler-{{producto.ID}}">
            <svg class="toggler-on" *ngIf="producto.incluido" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <polyline class="path check" points="100.2,40.2 51.5,88.8 29.8,67.5"></polyline>
            </svg>
            <svg class="toggler-off" *ngIf="!producto.incluido" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <line class="path line" x1="34.4" y1="34.4" x2="95.8" y2="95.8"></line>
                <line class="path line" x1="95.8" y1="34.4" x2="34.4" y2="95.8"></line>
            </svg>
        </label>
    </div>
</div>

