<header>
    <app-up-bar></app-up-bar>
  </header>
<main>
  <app-navigation-bar></app-navigation-bar>
  <div id="bazar-div">
    <h1>Bazares</h1>
    <div class="titulos">
        <h3>ID</h3>
        <h3>Fecha</h3>
        <h3>Nombre</h3>
        <h3>Cupos disponibles</h3>
    </div>

    <div class="productos">
        <div *ngFor="let bazar of bazares_tabla; let i = index">
          <app-row-bazares
            [bazar]="bazar"
            (onBazar)="verBazar(i)">
          </app-row-bazares>
        </div>
      </div>

  </div>
</main>
