#navigation-div
{
    height: 100%;
    border-right: 0.2px rgb(146, 144, 144) solid;
    top: 0;
    padding: 30px;
}

#opciones
{
    margin-top: 40px;
    display: grid;
    grid-template-columns:repeat(2,1fr); /* Dos filas de altura automática */
    row-gap: 30px;
    column-gap: 10px;
}