
<div id="navigation-div">
    <h2 id="menu-title">Menu</h2>
    <div id="opciones">
        <img src="/images/inventario.png" alt="logo inventario" width="30px">
        <a href="">Inventario</a>
   
        <img src="/images/orden.png" alt="logo pedidos" width="30px">
        <a href="">Pedidos</a>
   
        <img src="/images/ventas.png" alt="logo ventas" width="30px">
        <a href="">Ventas</a>

        <img src="/images/bazar.png" alt="logo bazares" width="30px">
        <a href="">Bazares</a>
   </div>
</div>
