<header>
    <app-up-bar></app-up-bar>
  </header>
<main>
  <app-navigation-bar></app-navigation-bar>
  <div id="pedido-div">
    <h1>Pedidos</h1>
    <div class="titulos">
        <h3>ID</h3>
        <h3>Cliente</h3>
        <h3>Costo</h3>
        <h3>Fecha</h3>
        <h3>Estado</h3>
    </div>

    <div class="productos">
        <div *ngFor="let pedido of pedidos_tabla; let i = index">
          <app-row-pedidos
            [pedido]="pedido"
            (onPedido)="verPedido(i)">
          </app-row-pedidos>
        </div>
      </div>

  </div>
</main>