<div class="producto-descripcion">
  <input type="text" [(ngModel)]="producto.nombre" placeholder="Nombre" (blur)="onNombreChange()">
  <input type="text" [(ngModel)]="producto.codigo" placeholder="ID" (blur)="onCodigoChange()">
  
  <select id="color-list" [(ngModel)]="producto.color" (change)="onColorChange()">
    <option value="no-aplica">no aplica</option>
    <option value="azul">azul</option>
    <option value="verde">verde</option>
    <option value="rojo">rojo</option>
    <option value="negro">negro</option>
    <option value="blanco">blanco</option>
    <option value="transparente">transparente</option>
    <option value="morado">morado</option>
    <option value="rosado">rosado</option>
    <option value="amarillo">amarillo</option>
    <option value="naranja">naranja</option>
  </select>
  
  <select id="talla-list" [(ngModel)]="producto.talla" (change)="onTallaChange()">
    <option value="no-aplica">no aplica</option>
    <option value="unica">talla unica</option>
    <option value="xxs">XXS</option>
    <option value="xs">XS</option>
    <option value="s">S</option>
    <option value="m">M</option>
    <option value="L">L</option>
    <option value="xl">XL</option>
    <option value="xxl">XXL</option>
  </select>
  
  <input type="text" [(ngModel)]="producto.cantidad" placeholder="Cantidad" (blur)="onCantidadChange()">

  <div id="circulo-imagen" (click)="fileInput.click()">
    <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;">
    <img [src]="imageSrc" alt="Imagen del producto" *ngIf="imageSrc">
  </div>
  
  <button (click)="eliminar()" id="eliminar-button">Eliminar</button>
</div>
